body{
font-family: 'Anton', sans-serif;
	text-align: center;
	color:white;
}

#clock{
	font-size:150px;
	font-weight: 300;
}

#hex-color{
	font-size: 30px;
	font-weight: 300;
}

h2{
	font-weight: 300px;
	font-size: 30px;
}